################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin
**/obj

.vs
/integration/node_modules
/integration/mochawesome-report
/integration/test-results/mocha
/lambda.zip
**/*.received.txt
